# Dependency folders
node_modules/
dist/
android/
androidinstaller/
fractioncalc/

# Electron build output
*.exe
*.AppImage
*.deb
*.dmg
*.zip
*.tar.gz
*.apk

# Mac system files
.DS_Store

#important files
.png
.ico
capacitor.config.ts
main.js
.json

# Logs
*.log

# Build cache
out/
.cache/
electron-builder.yml

# VS Code configs (if using)
.vscode/

# Misc
*.tmp
*.bak

# Environment files
.env
.env.local
