# Dependency folders
node_modules/
dist/
android/
androidinstaller/

# Electron build output
*.exe
*.AppImage
*.deb
*amd64.deb
*.dmg
*.zip
*.tar.gz
*.apk

# Mac system files
.DS_Store

# Logs
*.log

# Build cache
out/
.cache/
electron-builder.yml

# VS Code configs (if using)
.vscode/

# Misc
*.tmp
*.bak

# Environment files
.env
.env.local
